
html .page>.container {
    background: url('./images/Coopsacr/fake.png');
    background-size: 100% 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html body {
    background-color: black;
}


.job .tasks {
    font-size: 0.8em;
}