
html .page {
    background: url('./images/FLY/background2.png');
    background-size: 100% 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html body {
    background-color: black;
}


.job .tasks {
    font-size: 1em;
}